body {
	background: url(../img/natural_paper.png);
	border-top: 5px solid #bf1e2d;
	margin: 0;
	font-family: "Futura", sans-serif;
	line-height: 1.4em;
}

h1, h2, h3 {
	margin: 0;
}

header h1 {
	background: url(../img/luTitle.png) no-repeat center top;
	height: 100px;
	width: 300px;
	text-indent: -9999px;
	margin: 20px 0 20px 0;
	padding-left: 20px;
	color: #fff;
}

h2 {
	margin-bottom: 10px;
}

h3 {
	font-weight: normal;
	padding-top: 15px;
	color: #424242;
}

.container {
	max-width: 850px;
	width: 100%;
	margin: 0 auto;
}

#content {
	float: left;
	border-top: 10px solid #222;
	box-shadow: 0 0 10px #424242;
	padding: 10px;
}

#focus {
	width: 60%;
	margin-right: 5%;
	float: left;
}

aside {
	width: 35%;
	float: right;
}

/* Navigation */
header .nav li {
	display: inline;
	margin-left: 5px;
}

header .nav a {
	background-color: #bf1e2d;
	display: inline-block;
	padding: 5px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	box-shadow: 0 0 10px #424242;
}

header .nav {
	float: right;
	margin-top: 45px;
	padding: 0;
}

.video-contain {
	position: relative;
	padding-bottom: 55%;
	padding-top: 25px; 
	height: 0; 
}

.video-contain iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (max-width: 320px) {
	.container {
		width: 100%;
		margin: 0;
	}
	h1 {
		width: 100%;
	}
	header .nav, #focus, aside {
		float: left;
		clear: left;
		margin: 0 0 10px;
		width: 100%;
	}
	header .nav li {
		margin: 0;
		background: #efefef;
		display: block;
		margin-bottom: 2px;
	}
	header .nav a {
		display: block;
		padding: 10px;
		text-align: center;
	}
}

/* LU Logo on homepage */
#banner {
	float: left;
	width: 100%;
}
#banner img {
	width: 100%;
}